<tr class="cart-subtotal">
  <th><%= t ".total_quantity" %></th>
  <td><span class="amount"><%= total_quantity_cart %></span></td>
</tr>
<tr class="order-total">
  <th><%= t ".total_amount" %></th>
  <td><strong><span class="amount"><%= format_money total_amount %></span></strong> </td>
</tr>