/*
*= require "admin/template/bootstrap.min.css"
*= require "admin/template/font-awesome.min.css"
*= require "admin/template/zabuto_calendar.css"
*= require "admin/template/jquery.gritter.css"
*= require "admin/template/style.css"
*= require "admin/template/style-responsive.css"
*= require "admin/template/bootstrap-fileupload.css"

*= require "admin/layout"
*/
