.capsule {
  font-size: 12px;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 24px;
  background-color: #eff0f5;
  max-width: 150px;
}

.capsule-inprogress {
  background: #2746b9;
  color: white;
}

.capsule-indelivery {
  background: green;
  color: white;
}

.capsule-success {
  background: red;
  color: white;
}

.capsule-cancel {
  background: gray;
  color: white;
}

.capsule-product {
  font-size: 12px;
  padding: 1px 12px;
  display: inline-block;
  border-radius: 14px;
  background-color: #eff0f5;
  max-width: 200px;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
}

.capsule-stocking {
  background: #088A68;
  color: white;
}

.capsule-out_of_stock {
  background: #424242;
  color: white;
}

.product-id a, .product-id a:hover {
  color: blue;
}

.order-id a, .order-id a:hover {
  color: blue;
}
