// header
#main-content {
  margin-bottom: 50px;
}

.select-languages {
  margin-top: 15px;
  li a {
    height: 29px;
    img {
      margin-top: -5px;
    }
  }
}

// footer
.site-footer {
  position: fixed;
  margin: 100px 0 0 210px;
  width: 100%;
  bottom: 0;
  left: 0;
}
