// header
#main-content {
  margin-bottom: 50px;
}

.select-languages {
  margin-top: 15px;
  li a {
    height: 29px;
    img {
      margin-top: -5px;
    }
  }
}

// footer
.site-footer {
  position: fixed;
  margin: 100px 0 0 210px;
  width: 100%;
  bottom: 0;
  left: 0;
}

// alert
.alert {
  position: fixed;
  z-index: 999999;
  width: 280px;
  min-height: 50px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 60px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert-notification {
  display: none;
  position: fixed;
  z-index: 999999;
  width: 280px;
  min-height: 50px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 60px;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
