@import "bootstrap-sprockets";
@import "bootstrap";

.comment-respond a {
  color: #0080FF;
}

﻿/*Register*/
.register {
    width: 550px;
}

.label_name {
    margin-left: -50px;
}

.capsule {
  font-size: 12px;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 24px;
  background-color: #eff0f5;
  max-width: 150px;
}

.capsule-inprogress {
  background: #2746b9;
  color: white;
}

.capsule-indelivery {
  background: green;
  color: white;
}

.capsule-success {
  background: red;
  color: white;
}

.capsule-cancel {
  background: gray;
  color: white;
}

.product-id a, .product-id a:hover {
  color: blue;
}

.order-id a, .order-id a:hover {
  color: blue;
}

.product-out_of_stock {
  background: red !important;
}
