.modal-order-details {
  width: 90% !important;
}

.table-order-details, .table-order-details tr td, th {
  border: 0 !important;
}

.order-details tr td {
  line-height: 50px !important;
}

.cancel-product, .cancel-product:hover {
  color: red;
}
