<footer class="site-footer">
  <div class="text-center" style="padding-right: 200px;">
    <div class="credits">
      &copy; Đặc sản 3 miền</a>
    </div>
    <a href="index.html#" class="go-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</footer>