<footer class="wrap-footer footer-2 colophon wigetized">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 item-footer-four">
          <div class="widget widget_about">
            <div class="noo_about_widget">
              <a href="#">
                <%= image_tag "logo.png" %>
              </a>
              <p>
              Đây là trang web giới thiệu về những đặc sản của sứ Việt, trải dài từ miền Bắc - điểm đầu của tổ quốc cho tới tận miền Nam yêu dấu
              </p>
            </div>
          </div>
          <div class="widget widget_noo_social">
            <div class="noo_social">
              <div class="social-all">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-google-plus"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-skype"></a>
              </div>
            </div>
          </div>
          <div class="widget widget_text">
            <div class="textwidget">
              <div class="copyright">
              Tháng 2 năm 2019.<br />
              Design <i class="fa fa-heart-o"></i> Ngọc Nghĩa
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 item-footer-four">
          <div class="widget widget_text">
          <h4 class="widget-title">LIÊN HỆ</h4>
            <div class="textwidget">
              <h5>Địa chỉ</h5>
              <p>Xóm Mới, Nguyên Xá, Bắc Từ Liêm, Hà Nội</p>
              <p>(or) CNTT1 - K10 ĐH Công Nghiệp HN</p>
              <h5>Điện thoại</h5>
              <p>
                <a href="#">(+84) 382305339</a>  <br />
                <a href="#">(+84) 382305448</a>
              </p>
              <h5>Email</h5>
              <p>
                <a href="#">ngocnghiaphuc@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 item-footer-four">
          <div class="widget widget_text">
            <h4 class="widget-title">SINH VIÊN THỰC HIỆN</h4>
            <div class="textwidget">
              <ul>
                <li><h5>Phúc Ngọc Nghĩa</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>